/* Authors : Venkata Sandeep Reddy Sabbella
             Pavan Kumar Reddy Vuyyuru
             Rithvik Varma Thotakura
             Rajesh Jyoti Samrat
*/


/* Styles for whole web page which contains font-family and box-sizing(width & height of element calculated) */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Styles for body element with margin and background color for webpage */

body {
    margin: 0px;
    background-color: #000;
}


/* Styles for header schematic element with background-color,height,width and position is fixed at 0px */

header {
    background-color: #000;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0px;
}


/* Style specifies width for container */

#container {
    width: 100%;
}


/* Style for header element that specifies display and align elements to the center vertically */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Style specifies the height, max-width and padding to the left to header-logo class for logo present in header */

.header-logo {
    height: 100%;
    max-width: 20%;
    padding-left: 0.5em;
}


/* Style for logo-image in header that specifies height to that element */

.logo-image {
    height: 100%;
}


/* Style specifies the color,letter-spacing,font-style width and padding to site-title class which is title of our page title in header  */

.site-title {
    color: #fff;
    letter-spacing: 3.25px;
    padding: 8px;
    width: 60%;
    text-align: center;
    font-style: italic;
}


/* Style for home-link class with text decoration and color properties */

.home-link {
    text-decoration: none;
    color: #fff;
}


/* Style rules for pseudo-classes of home-link*/

.home-link:hover,
.home-link:active {
    text-decoration: none;
    color: #fff;
}


/* Style specifies max-width,padding,display and align items for ls-page which container sign in link in header */

.ls-page {
    max-width: 20%;
    padding: 8px;
    display: flex;
    align-items: center;
}


/* Style specifies text decoration,font-size,color and font-weight for link in ls-page class */

.ls-page a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}


/* Style specifies display and align items to link present in ls-class */

.ls-page a {
    display: flex;
    align-items: center;
}


/* Style specifies the height of image present in header ls-page class */

.svg-icons {
    height: 35px;
}


/* Style specifies the height,top,position and background color for navbar */

.navbar {
    height: fit-content;
    top: 100px;
    position: relative;
    background-color: #f1f1f1;
}


/* Styles of links present in navbar-links class that specifies padding to right and left of 30px each */

.navbar-links a {
    padding: 0px 30px;
}


/* Styles for links present in navbar-links with properties color,text-decoration,font-size,font-weight and line-height for each link */

.navbar-links a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
}


/* Styles for pseudo class links in navbar-links */

.navbar-links a:hover {
    outline: 2px solid #000;
    outline: 2px solid #000;
}


/* Styles for navbar-links class that specifies display and padding and justify-content in flex */

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


/* Style specifies the top,position,width,margin,background color,border-radius and padding for main-container class */

.main-container {
    top: 100px;
    width: 80%;
    margin: 3em auto;
    position: relative;
    background-color: #f1f1f1;
    padding: 2em;
    border-radius: 20px;
}


/* Style specifies the background color ,width,position and bottom pixel for footer */

footer {
    background-color: #000;
    bottom: 0px;
    width: 100%;
    position: relative;
}


/* Styles for footer with properties display,justifying content,padding,align-items and height ,border at top and some margin at top to footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 50px;
    border-top: 0.2px solid #f1f1f1;
    margin-top: 10em;
}


/* Style for footer-link-list class that specifies the list-style-type and align items and display to that list elements */

.footer-link-list {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}


/* Styles to list elements with class footer-list-items that has padding property */

.footer-list-items {
    padding: 0px 20px;
}


/* Style specifies the color and text-decoration property for footer-links class */

.footer-links {
    color: #fff;
    text-decoration: none;
}


/* Style for footer-links pseudo class */

.footer-links:hover {
    cursor: pointer;
}


/* Styles specifies the color and cursor for footer-copyright text */

.footer-copyright {
    color: #fff;
    cursor: text;
}


/* Style specifies the z-index and max-width for header and footer */

header,
footer {
    z-index: 1;
    max-width: 100%;
}


/* Style for ls-page-mobile-tablet element that need to hide in desktop */

.ls-page-mobile-tablet {
    display: none;
}


/*-------------------------------------------------------- index.html Home Page CSS starts -------------------------------------------------------------*/


/* Style specifies the display,justify-content,margin-top,align-items,flex-wrap properties for now-playing-container class in home page */

.now-playing-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
}


/* Style specifies the background-color,border-radius,margin and padding to card class in home page */

.card {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 20px;
    padding: 10px;
}


/* Style specifies the width,height and border-radius for image in card class */

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Style specifies the padding for content class  */

.content {
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 8px;
}


/*  Style specifies the color,font-size,font-weight,text-align,margin,text overflow and whitespace properties to content-text class in card container */

.content-text {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
}


/* Style specifies the color,font-size,font-style,text-align and font-weight properties for p tag in content class */

.content p {
    color: black;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}


/* Style specifies the text-decoration,text-align,padding and display and border-radius properties to anchor tag in content class  */

.content a {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
    border-radius: 8px;
}


/* Pseudo class for a tag in content class */

.content a:hover {
    text-decoration: none;
    opacity: 0.8;
}


/* Style specifies the margin to top and color of h1 tag in main element */

main h1 {
    margin-top: 20px;
    color: #000;
}


/* Style specifies the height and width of slider class  */

.slider {
    height: 100%;
    width: 100%;
}


/* Style specifies the width,max-width and height and border radius fpr img tag in slider class this properties are used for banner   */

.slider img {
    max-width: 100%;
    height: 350px;
    width: 100%;
    border-radius: 20px;
}


/* Style specifies the margin,background color,text-align,padding and border-radius for offer class */

.offer {
    background-color: #000;
    text-align: center;
    margin: 30px auto;
    border-radius: 8px;
    padding: 1px;
}


/* Style specifies the color to h2 tag in offer container  */

.offer h2 {
    color: white;
}


/* Style specifies the margin,width and border-radius for movie-news card class */

.movie-news-card {
    width: 300px;
    border-radius: 8px;
    margin: 20px;
}


/* Style specifies the width,height and border-radius for image element in movie-news-card class */

.movie-news-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Style specifies the padding to class"content2" */

.content2 {
    padding: 4px 4px 4px 4px;
}


/* Style specifies the font-size,font-weight,color to p tag(para) in content2 class */

.content2 p {
    font-size: 18px;
    font-weight: 700;
    color: black;
}


/*----------------------------------------------------- Contact Us Page CSS starts ------------------------------------------------------*/


/* Style specifies the width and padding tp content-form-div class */

.contact-form-div {
    width: 60%;
    padding: 20px;
}


/* Style specifies the text-align properties and margin to content form-h1 id  */

#contact-form-h1 {
    text-align: center;
    margin: 0px auto 20px auto;
}


/* Style specifies teh padding,margin and max-width properties to contact form class */

.contact-form {
    max-width: 95%;
    margin: auto;
    padding: 0 10px;
}


/* Style specifies the display,width,margin ,border-radius and width to contact-form-text class */

.contact-form-text {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
}


/* Style specifies box-shadow the pseudo class for contact form text class */

.contact-form-text:hover {
    box-shadow: 0 0 15px 2px black;
}


/* Style specifies the resize and height for contact-form-ta id */

#contact-form-ta {
    resize: none;
    height: 100px;
}


/* Style specifies the width and margin properties for .map-div class */

.map-div {
    width: 60%;
    margin: 0px auto;
}


/* Style specifies the width and height for map class */

.map {
    width: 100%;
    height: 100%;
}


/* Style specifies the display width and margin properties for outer-div class */

.outer-div {
    display: flex;
    width: 85%;
    margin: 0px auto;
}


/* Style specifies the border-collapse,width,margin and border for operation-table class */

.operations-table {
    border-collapse: collapse;
    width: 50%;
    margin: 40px auto;
    border: 1px solid #dddddd;
}


/* Style specifies the padding and text-align properties to table head and table data tags in operation-table class */

.operations-table td,
.operations-table th {
    padding: 8px;
    text-align: center;
}


/* Style specifies the text-align, background color and text color fpr table header in .operations-table */

.operations-table th {
    text-align: center;
    background-color: #000;
    color: white;
}


/* Style specifies the text-align,font-size,font-weight and padding to caption of table */

caption {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    padding: 1em;
}


/* Style specifies the border left and border-bottom to table header th and table data td of table */

th,
td {
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}


/* ------------------------------------------------ Show_timings CSS Starts ----------------------------------------------------*/


/* Style specifies the margin to top and bottom for the show-timings-container class*/

.show_timings-container {
    margin-bottom: 5em;
    margin-top: 3em;
}


/* Style specifies the border, padding and border-radius to show_timings-container class in main */

main .show_timings-container {
    border: 1px solid #000;
    padding: 1em 2em;
    border-radius: 20px;
}


/* Style specifies the border, padding, margin bottom and border-radius to show-details-container class in main */

main .show-details-container {
    border: 1px solid #000;
    padding: 2em 0em;
    border-radius: 20px;
    margin-bottom: 2em;
}


/* Style specifies the height,display and justify-content properties for show-list-container class */

.show-list-container {
    height: 20em;
    display: flex;
    justify-content: space-around;
}


/* Style specifies the display ,padding top and height properties to image in show-list-container */

.show-list-container img {
    display: inline-block;
    padding-top: 1em;
    height: 100%;
}


/* Style specifies the width,margin to show_timings-container and show-details-container */

.show_timings-container,
.show-details-container {
    width: 70%;
    margin: 3em auto;
}


/* Style specifies the font-size and font-weight to para p tag in movie-title class */

.movie-title p {
    font-size: 18px;
    font-weight: 800;
}


/* Style specifies the list-style-type and font-size to movie-info class */

.movie-info {
    list-style-type: none;
    font-size: 18px;
}


/* Style specifies the padding left property to ordered list and unordered list items within movie-info class */

.movie-info ul,
.movie-info ol {
    padding-left: 0em;
}


/* Style specifies the float property and height to movie-image class */

.movie-image {
    float: left;
    height: 95%;
}


/* Style specifies the float property to movie-details class */

.movie-details {
    float: right;
}


/* Style specifies the width,padding,margin,display,box-sizing,color and text-transform and font-size properties to input element with type data  */

input[type=date] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
}


/* Style Specifies the list-style-type,font-style,border-top and padding properties to list elements within movie-detail-synopsis class */

.movie-detail-synopsis li {
    list-style-type: none;
    font-style: italic;
    border-top: 1px solid #000;
    padding: 5px;
}


/* Style specifies the margin-top property to movie-detail-synopsis class */

.movie-detail-synopsis {
    margin-top: 1em;
}


/* Style specifies the background color,padding,margin and border,cursor,width,border-radius,font-size,font-weight and text-decoration properties to active-button class */

.active-button {
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    text-decoration: none;
}


/* Pseudo class for active-button class to change its opacity when its hover */

.active-button:hover {
    opacity: 0.8;
}


/* Style specifies the opacity for button */

button:hover {
    opacity: 0.8;
}


/*--------------------------------------------------------------- Trailer Page CSS starts -------------------------------------------------------*/


/* Style specifies the border-bottom and padding-bottom properties to page-header class */

.page-header {
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}


/* Style specifies the display property to trailer-list class */

.trailers-list {
    display: flex;
}


/* Style specifies the width and height to trailer-list-item class */

.trailer-list-item {
    width: 70%;
    height: fit-content;
}


/* Style specifies the width and height to trailer-list-item-side class */

.trailer-list-item-side {
    width: 30%;
    height: fit-content;
}


/*  Style specifies the padding to trailer-list-item-side class */

.trailer-list-item-side {
    padding: 50px 10px;
}


/*  Style specifies the padding to h3 within trailer-list-item-side class */

.trailer-list-item-side h3 {
    padding: 5px 10px
}


/*  Style specifies the display,padding,align-items and flex-direction to other-movie-list class */

.other-movie-list {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}


/* Style specifies the font-weight,font-size,padding,margin and text-align properties to p tag within other-movie-list class */

.other-movie-list p {
    font-weight: 700;
    font-size: 16px;
    padding: 1px 10px;
    margin: 0px;
    text-align: left;
}


/*---------------------------------------------------------------- Upcoming movies page --------------------------------------------------*/


/* Style specifies the width,margin,position,display and flex-direction properties to up-coming id within main */

main #up-coming {
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* Style specifies the padding,text-align and margin-bottom properties to in-up-coming class */

.in-up-coming {
    padding: 30px 10px;
    text-align: center;
    margin-bottom: 10px;
}


/* Style specifies the display,justify-content,align-items and border-style properties to in-up-coming class */

.in-up-coming {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: groove;
}


/* Style specifies the color to hr tag in up-coming class */

.up-coming hr {
    color: #000;
}


/* Style specifies the font-family,font-size properties to name class within in-up-coming which is within main */

main .in-up-coming .name {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 24px;
}


/* Style specifies the display and width properties to input within in-up-coming which is within main */

main .in-up-coming input {
    display: inline;
    width: min-content;
}


/* Style specifies the text-align and padding,width to up-coming-details class  */

.up-coming-details {
    text-align: left;
    padding: 25px;
    width: 70%;
}


/* ------------------------------------------------------- About US page CSS starts ------------------------------------------------------- */


/* Style specifies the max-width,margin to left and right for container class  */

.container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* Style specifies the font-size and margin to left and right to mission,offer and contact_us classes */

.mission,
.offer,
.contact_us {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Style specifies the margin-top,font-style to h2 tag within mission,what-we-offer and contact-us-block */

.mission h2,
.what-we-offer h2,
.contact-us-block h2 {
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 0px;
}


/* Style specifies the padding left to unordered list items within what-we-offer class */

.what-we-offer ul {
    padding-left: 4%;
}


/* Style specifies the display,flex-direction,align-items,justify content and padding properties to mission-block */

.mission-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


/* Style specifies the max-width property to div within mission-block class */

.mission-block div {
    max-width: 70%;
}


/* Style specifies the line-height,font-size,text-align and margin-top to p tag within div which is within mission-block class */

.mission-block div p {
    line-height: 2;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}


/* Style specifies the max-width,margin and display properties to image tag within div which is within mission-block class */

.mission-block div img {
    max-width: 40%;
    margin: 0px auto;
    display: block;
}


/* Style for list items within what-we-offer class with properties font-size,line-height,letter-spacing properties */

.what-we-offer li {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.25px;
}


/* Style specifies the font-size,letter-spacing and padding to p tag within contact-us-block class */

.contact-us-block p {
    font-size: 18px;
    letter-spacing: 0.25px;
    padding: 0% 1%;
}


/*------------------------------------------------------------ Terms and Conditions Page ---------------------------------------------------*/


/* Style specifies the font-size,letter-spacing to terms-para class */

.terms-para {
    letter-spacing: 0.25px;
    font-size: 16px;
}


/* Style specifies the line-height to t-c-list class */

.t-c-list {
    line-height: 1.4;
}


/* Style specifies the margin to list items within t-c-list class */

.t-c-list li {
    margin: 15px auto;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------Styles for Mobile Layout ------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width:320px) and (max-width:480px) {
    /* Style specifies the display property to header-logo class to hide in mobile breakdown points  */
    .header-logo {
        display: none;
    }
    /* Style specifies the width property to site-title class */
    .site-title {
        width: 90%;
    }
    /* Style specifies the display,align-items and justify-content properties to header */
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    /* Style specifies the font-size,margin-top and margin-bottom to header class */
    .header {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* Style specifies the display,justify-content,padding,flex-wrap,flex-direction and align-items to navbar-links class */
    .navbar-links {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 10px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    /* Style specifies the color,text-decoration,font-size,font-weight,line-height,background-color,border-radius,width,text-align and margin-bottom to anchor tag in navbar-links */
    .navbar-links a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 3;
        background-color: #000;
        border-radius: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    /* Home Page */
    /* Style specifies the width to card class */
    .card {
        width: 75%;
    }
    /* Style specifies the width to offer class */
    .offer {
        width: 90%;
    }
    /* Style specifies the text-align property to p tag in content2 class */
    .content2 p {
        text-align: center;
    }
    /* Contact Us Page */
    /* Style specifies the display,width,margin and flex-wrap to outer-div class */
    .outer-div {
        display: flex;
        width: 90%;
        margin: 0px auto;
        flex-wrap: wrap;
    }
    /* Style specifies the width and margin property to map-div class */
    .map-div {
        width: 100% !important;
        margin: 0px auto;
    }
    /* Style specifies the width and padding and margin-top to contact form div */
    .contact-form-div {
        width: 100% !important;
        padding: 20px 3px !important;
        margin-top: 1em;
    }
    /* Style specifies the text-align and margin-top property to h1 tag within hours-of-operation id */
    #hours-of-operation-h1 {
        text-align: center;
        margin-top: 1em !important;
    }
    /* Style specifies the width to operation-table class */
    .operations-table {
        width: 90% !important;
    }
    /* Show Timings Page */
    /* Style specifies the display property to ls-page class to hide in mobile layout */
    .ls-page {
        display: none;
    }
    /* Style specifies the display property to ls-page-mobile-tablet class to show in mobile layout */
    .ls-page-mobile-tablet {
        display: block;
    }
    /* Style specifies the width and padding to main-container class */
    .main-container {
        width: 85% !important;
        padding: 0.5em !important;
    }
    /* Style specifies the width,margin and padding to show_timings-container and show-details-container */
    .show_timings-container,
    .show-details-container {
        width: 85% !important;
        margin: 2em auto !important;
        padding: 10px !important;
    }
    /* Style specifies the font-size to h1 tag present in show_timings container  */
    .show_timings-container h1 {
        font-size: 22px;
    }
    /* Style specifies the height to show-list-container class  */
    .show-list-container {
        height: fit-content !important;
    }
    /* Style specifies the display,flex-direction and align-items to show-list-container class  */
    .show-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Style specifies the text-align properties to movie-details class  */
    .movie-details {
        text-align: center;
    }
    /* Style specifies the font-size property to movie-info class  */
    .movie-info {
        font-size: 14px !important;
    }
    /* Style specifies the text-align,padding,font-size properties to unordered list in movie-detail-synopsis class  */
    .movie-detail-synopsis li ul {
        text-align: center;
        padding: 1px;
        font-size: 14px;
    }
    /* Style specifies the padding property to list in movie-detail-synopsis class  */
    .movie-detail-synopsis li {
        padding: 1em;
    }
    /* Trailers Page */
    /* Style specifies the flex-direction,display properties to trailer-list class */
    .trailers-list {
        display: flex;
        flex-direction: column;
    }
    /* Style specifies the width to trailer-list-item class */
    .trailer-list-item {
        width: 100%;
    }
    /* Style specifies the width and padding to trailer-list-item-side class */
    .trailer-list-item-side {
        width: 100%;
        padding: 0px;
    }
    /* Style specifies the padding to h3 within trailer-list-item-side */
    .trailer-list-item-side h3 {
        padding: 0px;
    }
    /* Style specifies the display,padding,align-items and flex-direction to other-movie-list class */
    .other-movie-list {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    /* Style specifies the max-width,width and height to video element */
    video {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    /*About US CSS*/
    /* Style specifies the display,flex-direction,align-items and padding to mission-block */
    .mission-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    /* Style specifies the max-width property to div within mission-block class */
    .mission-block div {
        max-width: 95% !important;
    }
    /* Style specifies the font-size,margin-top to p tag within div which is within mission-block class */
    .mission-block div p {
        font-size: 16px;
        margin-top: 20px;
    }
    /* Style specifies the padding-left property to what-we-offer class */
    .what-we-offer ul {
        padding-left: 10%;
    }
    /* Style specifies the font-size property to list item in what-we-offer class */
    .what-we-offer li {
        font-size: 16px;
    }
    /* Style specifies the font-size,padding and word-break properties to p element in contact-us-block */
    .contact-us-block p {
        font-size: 16px;
        padding: 1% 5%;
        word-break: break-all;
    }
    /* Upcoming movies */
    /* Style specifies the display and flex-direction properties to in-up-coming class */
    .in-up-coming {
        display: flex;
        flex-direction: column;
    }
    /*  Style specifies the text-align,width and word-break properties to up-coming-details class */
    .up-coming-details {
        text-align: center;
        width: 90%;
        word-break: break-word;
    }
    /* Style specifies the display and flex-direction to in-up id element  */
    #in-up {
        display: flex;
        flex-direction: column-reverse;
    }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------Styles for Tablet Layout ----------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width:481px) and (max-width:768px) {
    /* Style specifies the height,max-width and padding-left to header-logo class */
    .header-logo {
        height: 100%;
        max-width: 20%;
        padding-left: 0em;
    }
    /* Style specifies the height and max-width to logo-image class */
    .logo-image {
        height: 90%;
        max-width: 100%;
    }
    /* Style specifies the display property to ls-page class to hide in mobile layout */
    .ls-page {
        display: none;
    }
    /* Style specifies the display,width property to ls-page-mobile-tablet class to show in mobile layout */
    .ls-page-mobile-tablet {
        display: block;
        width: 10%;
    }
    /* Style specifies the letter-spacing,width,font-size and padding to site-title class */
    .site-title {
        letter-spacing: 1.25px;
        width: 70%;
        font-size: 14px;
        padding: 0px 5px;
    }
    /* Style specifies the display,align-items,height and max-width properties to header element */
    header {
        display: flex;
        align-items: center;
        height: 100px;
        max-width: 100%;
    }
    /* Style specifies the font-size and padding to anchor tags in navbar-links class */
    .navbar-links a {
        font-size: 14px;
        padding: 0px 5px;
    }
    /* Contact Us page */
    /* Style for outer-div class that specifies the display,width,margin and flex-wrap properties */
    .outer-div {
        display: flex;
        width: 90%;
        margin: 0px auto;
        flex-wrap: wrap;
    }
    /* Style specifies the width and margin properties to map-div class */
    .map-div {
        width: 100% !important;
        margin: 0px auto;
    }
    /* Style specifies the width,padding and margin-top properties to contact-form-div class */
    .contact-form-div {
        width: 100% !important;
        padding: 20px 3px !important;
        margin-top: 1em;
    }
    /* Style specifies the text-align and margin-top properties to hours-of-operation-h1 id */
    #hours-of-operation-h1 {
        text-align: center;
        margin-top: 1em !important;
    }
    /* Style specifies the width property to operation-table class */
    .operations-table {
        width: 90% !important;
    }
    /* Show Timings */
    /* Style specifies the width property to main-container class */
    .main-container {
        width: 85% !important;
    }
    /* Style specifies the width,margin,padding properties to show_timings-container and show-details-container class */
    .show_timings-container,
    .show-details-container {
        width: 85% !important;
        margin: 2em auto !important;
        padding: 10px !important;
    }
    /* Style specifies the font-size property to h1 tag in show_timings container */
    .show_timings-container h1 {
        font-size: 22px;
    }
    /* Style specifies the height for show-list-container class */
    .show-list-container {
        height: fit-content !important;
    }
    /* Style specifies the display,flex-direction and align-items properties to show-list-container class */
    .show-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Style specifies the text-align property to movie-details class */
    .movie-details {
        text-align: center;
    }
    /* Style specifies the text-align property and padding to unordered list items in li within movie-detail-synopsis class */
    .movie-detail-synopsis li ul {
        text-align: center;
        padding: 1px;
    }
    /* Style specifies the padding to list items li within movie-detail-synopsis */
    .movie-detail-synopsis li {
        padding: 1em;
    }
    /* Trailers Page */
    /* Style specifies the display and flex-direction properties to trailer-list class */
    .trailers-list {
        display: flex;
        flex-direction: column;
    }
    /* Style specifies the width property to trailer-list-item class */
    .trailer-list-item {
        width: 100%;
    }
    /* Style specifies the width and padding to trailer-list-item-side class */
    .trailer-list-item-side {
        width: 100%;
        padding: 0px;
    }
    /* Style specifies the display,padding,align-items and flex-direction to other-movie-list class */
    .other-movie-list {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    /* Home page */
    /* Style specifies the width property to card class */
    .card {
        width: 40%;
    }
    /* Style specifies the width,border-radius and margin property to movie-news-card class */
    .movie-news-card {
        width: 230px;
        border-radius: 8px;
        margin: 20px;
    }
    /* Style specifies the text align property to p element in content2 class */
    .content2 p {
        text-align: center;
    }
    /* About US page */
    /* Style specifies the display,flex-direction,align-items and padding properties to mission-block class */
    .mission-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    /* Style specifies the max-width property to div elements within mission-block */
    .mission-block div {
        max-width: 95% !important;
    }
    /* Style specifies the max-width property to img element inside div elements within mission-block */
    .mission-block div img {
        max-width: 30%;
    }
    /* Style specifies the margin-top property to p elements inside div elements within mission-block */
    .mission-block div p {
        margin-top: 20px;
    }
    /* Style specifies the padding-left to unordered list items within what-we-offer class */
    .what-we-offer ul {
        padding-left: 6%;
    }
    /* Style specifies the font-size,letter-spacing and padding properties to contact-us-block class */
    .contact-us-block p {
        font-size: 18px;
        letter-spacing: 0.25px;
        padding: 0% 3%;
    }
    /* Upcoming movies */
    /* Style specifies the display and flex-direction properties to in-up-coming class */
    .in-up-coming {
        display: flex;
        flex-direction: column;
    }
    /* Style specifies the text-align and width properties to up-coming-details class*/
    .up-coming-details {
        text-align: center;
        width: 90%;
    }
    /* Style specifies the display and flex-direction properties to in-up id */
    #in-up {
        display: flex;
        flex-direction: column-reverse;
    }
}


/* Styles for Footer till certain breakpoint to look fair*/

@media all and (min-width:320px) and (max-width:652px) {
    /* Styles specify display,flex-direction,align-items and justify-content to footer */
    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    /* Style specifies the padding-bottom and text-align properties to footer-copyright class */
    .footer-copyright {
        padding-bottom: 1.5em;
        text-align: center;
    }
    /* Style specifies the padding to footer-list-items class */
    .footer-list-items {
        padding: 0px 10px;
    }
    /* Style specifies the display property to ls-page class to hide in mobile layout */
    .ls-page {
        display: none;
    }
    /* Style specifies the display,width property to ls-page-mobile-tablet class to show in mobile layout */
    .ls-page-mobile-tablet {
        display: block;
    }
    /* Style specifies the font-size and padding properties to anchor elements within navbar-links class */
    .navbar-links a {
        font-size: 14px;
        padding: 0px 5px;
    }
}